@use 'styles/variables' as *;
@use 'sass:color';

.input__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--border-radius-md);
  border: 2px solid var(--border-primary);
  background-color: var(--body-bg, white);

  &:focus-within {
    outline: none;
    border-color: $primary;
    .input__start,
    .input__end {
      border-color: $primary;
    }
  }

  &:hover {
    border-color: color.scale($primary, $lightness: 30%);
    .input__start,
    .input__end {
      border-color: color.scale($primary, $lightness: 30%);
    }
  }
}

.input__label {
  position: absolute;
  text-transform: capitalize;
  font-family: var(--font-family-base);
  left: var(--spacing-sm);
  top: 50%;
  padding: 0 var(--spacing-xs);
  background-color: var(--body-bg, white);
  white-space: nowrap;
  transform-origin: 0 0;
  transition: transform 200ms ease-in-out;
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  color: var(--text-colors-primary);
  user-select: none;
  pointer-events: none;
  transform: translateY(-50%);
  z-index: 1;
}

.input__field {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.75rem var(--spacing-sm);
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular, 400);
  line-height: 1.5;
  color: var(--text-colors-primary);
  font-family: var(--font-family-base);
  background: transparent;
  background-clip: padding-box;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s ease-in-out;
  &:focus,
  &:not(:placeholder-shown) {
    & + .input__label {
      transform: translateY(-170%) scale(0.8);
      color: $primary;
    }
  }

  &::placeholder {
    color: transparent;
  }
  &:disabled {
    background-color: var(--bs-secondary-bg, #e9ecef);
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.input__start,
.input__end {
  height: 100%;
  padding: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--icon-size-xxl) + var(--spacing-sm));
}

.input__start {
  border-right: 2px solid var(--border-primary);

  & + .input__field + .input__label {
    left: calc(var(--icon-size-xxl) + var(--spacing-sm) + var(--spacing-xs));
  }
}

.input__end {
  border-left: 2px solid var(--border-primary);
}
