@use "sass:color";
@use "styles/variables" as *;

%button {
  padding: var(--padding-md) var(--padding-xl);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-size: var(--font-size-sm);
  box-shadow: var(--shadow-md);
  user-select: none;
  outline: none;
  border: none;
  font-family: var(--font-family-monospace);
  transition: all 0.3s ease-in-out;
}

.btn {
  @extend %button;
}

@each $name, $color in $buttons-variants {
  .btn-#{$name} {
    background-color: var(--button-variant-#{$name});
    color: var(--text-color-light);
    &:hover {
      background-color: color.scale($color, $lightness: -20%);
    }
  }
}

.btn-outlined {
  @extend %button;
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
  &:hover {
    border: 1px solid var(--border-primary);
    background-color: rgba(157, 148, 153, 0.11);
  }
}

.btn-loading {
  @extend %button;
  cursor: not-allowed;
  color: var(--text-primary);
}

.button-span {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  display: inline-block;
  padding: 0 (--padding-md);
}
