@use 'sass:color';
@use 'styles/variables' as *;
@use 'styles/animation' as *;

%button {
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-size: var(--font-size-sm);
  box-shadow: var(--shadow-md);
  user-select: none;
  outline: none;
  border: none;
  font-family: var(--font-family-monospace);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  max-width: 100%;
  gap: var(--spacing-md);
  min-height: 40px;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    transform: scale(0.99);
  }
}

.btn {
  @extend %button;
}

@each $name, $color in $buttons-variants {
  .btn-#{$name} {
    background-color: var(--button-variant-#{$name});
    color: var(--text-color-light);
    &:hover {
      background-color: color.scale($color, $lightness: 20%);
    }
  }
}

.btn-outlined {
  @extend %button;
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--border-secondary);
  &:hover {
    border: 1px solid var(--border-secondary);
    background-color: rgba(157, 148, 153, 0.11);
  }
}

.btn-loading {
  @extend %button;
  gap: var(--spacing-sm);
  cursor: not-allowed;
  color: var(--text-color-primary);
  padding: var(--spacing-sm) var(--spacing-xl);
  svg {
    animation: spin 1s linear infinite;
  }
}

.button__span {
  font-family: var(--font-family-base);
  min-width: 50%;
  padding: 0 var(--spacing-md);
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
